extends ../layout

block content
	style(type='text/css').
		.error {
			color: red;
		}
	div(class="container")
		h2.
			Registracija korisnika

		p(class="error") #{error}

		form#formRegister(name="register", method="post", action="/register")
			div(class="form-group row")
				p(for=username) Korisničko ime:
					input#inputUsername(type="text", placeholder="Korisničko ime", name="username", class="form-control", value=data.username, required)
			div(class="form-group row")
				p(for=email) E-mail:
					input#inputEmail(type="email", placeholder="E-mail", name="email", class="form-control", value=data.email, required)
			div(class="form-group row")
				p(for=password) Zaporka:
					input#inputPassword(type="password", placeholder="Zaporka", name="password", class="form-control", value=data.password, required)
			div(class="form-group row")
				p(for=password) Potvrda zaporke:
					input#inputConfirmPassword(type="password", placeholder="Zaporka", name="confirmPassword", class="form-control", value=data.confirmPassword, required)
				p
					button#btnSubmit(type="submit", class="btn btn-primary") Registriraj se
		p Već imaš korisnički račun? Prijavi se
		form(action='/login', method='get')
			button(type='submit' class="btn btn-primary").
				Prijava korisnika